<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hello, world!</title>
  </head>
  <body>
    <!-- navigation load -->
   <%- include('nav.ejs'); %>
   <%= user.name %>
      <div class="container">
          <h4>공지사항 미리보기</h4>
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
            <p class="hidden-data" style="display: none;"><%= post.content %></p>
            <p class="card-text">
                <!-- <%= post.content %> -->
            </p>
          <a href="#" class="card-link">수정하기</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    </div>
     <script>
       $( document ).ready(function() {
        //  console.log($('.hidden-data').text());
          $('.card-text').append($('.hidden-data').text());
      });
       </script>
  </body>
</html>