
   <%- include('./header.ejs') %>
   <!-- Layout wrapper -->
   <div class="layout-wrapper layout-content-navbar">
     <div class="layout-container">
       <!-- Menu -->
       <%- include('./menu.ejs') %>
       <!-- /Menu -->

       <!-- Layout container -->
       <div class="layout-page">
        <!-- Navbar -->
        <%- include('./navbar.ejs') %>
        <!-- /Navbar -->

         <!-- Content wrapper -->
        <div class="content-wrapper">
            <div class="container">
                <h4>환경 설정</h4>
                <form method="POST" action="/settings/updateconfig" enctype="multipart/form-data">
                    <div class="container course-preview">
                        <label>로고 이미지 등록</label>
                        <label class="btn btn-outline-secondary" for="logo-img">
                            업로드
                        </label>
                        <p>최대 이미지 크기 : 2MB</p>
                        <% if(config) { %>
                        <div id="logo_img_container" style="width: 150px; height: 150px; border: 1px solid; 
                                                            background: no-repeat;
                                                            background-size: contain; 	
                                                            background-position: center center;
                                                            background-image: url('/public/images/<%= setting.logo %>');">
                            <div class="hidden-area"  style="display: none;">
                                <input id="logo_img_container" name="logo_img_container" type="text" value="<%= setting.logo %>"/>
                            </div>
                        <% }else{ %>
                            <i class="far fa-image" id="img-placeholder"></i>
                        <% } %>
                        </div>
                        <input id="logo-img" name="logo-img" type="file" onchange="setThumbnail(event)" style="display:none;" />
                    </div>
        
                    <div class="container course-information">
                      <p>학원 이름</p>
                      <input id="company_name" name="company_name" type="text" size="60" <% if(config){ %> value="<%= setting.companyname %>" <% } %> />
                      <p>학원 연락처</p>
                      <input id="company_tel" name="company_tel" type="text" size="60" oninput="this.value=this.value.replace(/[^0-9]/g,'')"  <% if(config){ %> value="<%= setting.companycontact %>" <% } %> />
                      <p>학원 설명</p>
                      <textarea name="company_information" cols="100" rows="10"> <% if(config){ %> <%= setting.companyinfo %> <% } %></textarea>
                    </div>
                    
                    <button type="submit" class="btn btn-outline-secondary">Submit</button>
                </form>
              </div>
              <script>
                function setThumbnail(event){
                    var reader = new FileReader();
                    var placeimg = document.getElementById("img-placeholder");
                    reader.onload = function(event) {
                        if(placeimg.id.indexOf("none") === -1)
                            placeimg.setAttribute("id","none");
                        document.getElementById("logo_img_container").style.backgroundImage= `url(${event.target.result})`;
                    };
                    reader.readAsDataURL(event.target.files[0]);
                }
            </script>
         <!-- Content wrapper -->
       </div>
       <!-- / Layout page -->
     </div>

     <!-- Overlay -->
     <div class="layout-overlay layout-menu-toggle"></div>
   </div>
   <%- include('./footer.ejs') %>
