
   <%- include('../header.ejs') %>
   <!-- Layout wrapper -->
   <div class="layout-wrapper layout-content-navbar">
     <div class="layout-container">
       <!-- Menu -->
       <%- include('../menu.ejs') %>
       <!-- /Menu -->

       <!-- Layout container -->
       <div class="layout-page">
        <!-- Navbar -->
        <%- include('../navbar.ejs') %>
        <!-- /Navbar -->

         <!-- Content wrapper -->
        <div class="content-wrapper">
          <div class="container">
            <h4>강의 수정 및 관리</h4>
            <form method="POST" action="/course/detail/update" enctype="multipart/form-data">
                <div class="container course-preview">
                    <label>강의 미리보기 이미지 등록</label>
                    <div id="image_container" 
                      style="width: 250px; height: 250px; border: 1px solid; 
                              background: no-repeat; background-size: contain;
                              background-position: center center; background-image: url('/public/images/<%= course[0].thumbnail %>');"></div>
                    <label class="btn btn-outline-secondary" for="thumnail_course">
                        업로드
                      </label>
                    <input id="thumnail_course" name="thumnail_course" type="file" onchange="setThumbnail(event)" style="display:none;"/>
                </div>

                <div class="hidden-area"  style="display: none;">
                  <input id="id" name="id" type="text" value="<%= course[0].id %>"/>
                  <input id="thumbnail" name="thumbnail" type="text" value="<%= course[0].thumbnail %>"/>
                </div>
                <div class="container course-information">
                  <p>강의 제목 </p>
                  <input id="course_title" name="course_title" type="text" size="60" value="<%= course[0].title %>"/>
                  <p>강의 가격</p>
                  <input id="course_price" name="course_price" type="number" size="60" value="<%= course[0].price %>"  />원
                  <p>총강의 주차</p>
                  <input id="course_term" name="course_term" type="number" size="60" value="<%= course[0].term %>" />
                  <p>강의 설명</p>
                  <textarea name="course_description" cols="100" rows="10" ><%= course[0].description %></textarea>           
                  <label>강의 소개</label>
                  <p class="hidden-data" style="display: none;"><%= course[0].information %></p>
                  <textarea id="summernote"  name="course_information" ></textarea>
                </div>
                
                <button type="submit" class="btn btn-outline-secondary">수정</button>
                <button type="button" id="deleteButton" class="btn btn-outline-danger">제거</button>
            </form>
          </div>
          <script src="/assets/js/summernote.js"></script>
          <script>

            $( document ).ready(function() {
                var data = $('.hidden-data').text();
              $('#summernote').summernote('pasteHTML', data);
            
              $('#deleteButton').click(function(){
                const result = confirm('해당 강의분류에 포함된 모든 강의 컨탠츠가 삭제됩니다.\n 그래도 진행하시겠습니까 ?');

                if (result) {
                  var postId = $('#id').val();
                  var currentObj = $(this);
                  $.ajax({
                    method:'DELETE',
                    url: '/course/delete',
                    data:{id:postId}
                  }).done(function(result){
                    $('.content-wrapper').html(result);
                    const rootUrl = window.location.origin + "/course";
                    
                    history.pushState(null, null, rootUrl);
                  }).fail((err)=>{
                    console.log(err);
                  })

                } else {
                  alert('No를 선택했습니다!');
                }
                $('#deleteButton').blur();
              });
              printVideo();
           });
            function setThumbnail(event){
                var reader = new FileReader();
                reader.onload = function(event) {
                    document.getElementById("image_container").style.backgroundImage= `url(${event.target.result})`;
                };
                reader.readAsDataURL(event.target.files[0]);
            }
        </script>
         <!-- Content wrapper -->
       </div>
       <!-- / Layout page -->
     </div>

     <!-- Overlay -->
     <div class="layout-overlay layout-menu-toggle"></div>
   </div>
   <%- include('../footer.ejs') %>

      
    