
   <%- include('../header.ejs') %>
   <!-- Layout wrapper -->
   <div class="layout-wrapper layout-content-navbar">
     <div class="layout-container">
       <!-- Menu -->
       <%- include('../menu.ejs') %>
       <!-- /Menu -->

       <!-- Layout container -->
       <div class="layout-page">
        <!-- Navbar -->
        <%- include('../navbar.ejs') %>
        <!-- /Navbar -->

         <!-- Content wrapper -->
         <div class="content-wrapper">
            



          <h4 class="container mt-4"><strong>강의 콘탠츠 추가</strong></h4>

          <div class="container mt-3">
            <form action="/course/content/add" method="POST" onsubmit="validateMyForm();">
              <div class="form-group">
                <label> 강의 분류 </label>
                <select name="maincourse_category" id="maincourse_category">
                <!-- Select to main Course list -->
                <option value="null">강의분류를 선택해주세요.</option>
                <% for(var i = 0; i < courses.length; i++){ %>
                    <option value="<%= courses[i].id %>" data-max="<%= courses[i].term %>"><%= courses[i].title %></option>
                    <% } %>
                </select>
                <!-- <input type="text" class="form-control" name="title"> -->
                <label> 강의 차수 선택 </label>
                <select name="subcourses_indexno" id="subcourses_indexno">
                    <option value="0">0</option>
                  </select>
              </div>
              <div class="form-group">
                <label>강의 주제</label>
                <input type="text" class="form-control" name="subcourse_title">
              </div>
              <div class="form-group">
                <label>강의 영상 링크</label>
                <input type="url" class="form-control" name="subcourse_link" placeholder="강의영상 URL을 입력해주세요.">
              </div>
              <div class="form-group">
                <label>내용</label>
                <textarea id="summernote"  name="note_content"></textarea>
              </div>
              <button type="submit" class="submit-btn btn btn-outline-secondary">Submit</button>
            </form>
          </div>
          
          <script>

            const courseSelect = document.getElementById('maincourse_category');
            const totalSubcourseSelect = document.getElementById('subcourses_indexno');

            courseSelect.addEventListener('change', () => {
                
                const optionElement = courseSelect.options[courseSelect.selectedIndex];
                const lessonsCount = optionElement.getAttribute('data-max');
                totalSubcourseSelect.innerHTML = '';

                for (let i = 0; i <= lessonsCount; i++) {
                    const option = document.createElement('option');
                    option.value = i;
                    option.textContent = i;
                    totalSubcourseSelect.appendChild(option);
                }
            });

            $('#summernote').summernote({
              placeholder: '',
              tabsize: 2,
               // 에디터 높이
              height: 250,
              // 에디터 한글 설정
              lang: "ko-KR",
              // 에디터에 커서 이동 (input창의 autofocus라고 생각하시면 됩니다.)
              focus : true,
              toolbar: [
                  // 글꼴 설정
                  ['fontname', ['fontname']],
                  // 글자 크기 설정
                  ['fontsize', ['fontsize']],
                  // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
                  ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
                  // 글자색
                  ['color', ['forecolor','color']],
                  // 표만들기
                  ['table', ['table']],
                  // 글머리 기호, 번호매기기, 문단정렬
                  ['para', ['ul', 'ol', 'paragraph']],
                  // 줄간격
                  ['height', ['height']],
                  // 링크첨부
                  ['insert',['link']],
                ],
              // 추가한 폰트사이즈
              fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
            });

            function validateMyForm()
            {
              $('textarea[name="content"]').html($('.summernote').code());
              alert("validations passed");
              return true;
            }
          </script>

           </div>
           <div class="content-backdrop fade"></div>
         </div>
         <!-- Content wrapper -->
       </div>
       <!-- / Layout page -->
     </div>

     <!-- Overlay -->
     <div class="layout-overlay layout-menu-toggle"></div>
   </div>
   <%- include('../footer.ejs') %>
