
   <%- include('../header.ejs') %>
   <!-- Layout wrapper -->
   <div class="layout-wrapper layout-content-navbar">
     <div class="layout-container">
       <!-- Menu -->
       <%- include('../menu.ejs') %>
       <!-- /Menu -->

       <!-- Layout container -->
       <div class="layout-page">
        <!-- Navbar -->
        <%- include('../navbar.ejs') %>
        <!-- /Navbar -->

         <!-- Content wrapper -->
         <div class="content-wrapper">

          <h4 class="container mt-4"><strong>강의 콘탠츠 편집</strong></h4>

          <div class="container mt-3">
            <form action="/course/content/edit" method="POST" onsubmit="validateMyForm();">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <span>강의 분류 </span>
                                <input type="text" class="form-control" name="title" value="<%= subcourse.main %>" data-id="<%= subcourse.sub.maincategory %>" disabled >
                                <span>강의 차수 </span>
                                <input type="text" class="form-control" name="title" value="<%= subcourse.sub.indexnumber %>" disabled >
                            </div>
                            <div class="form-group">
                                <label>강의 주제</label>
                                <input type="text" class="form-control" name="subcourse_title" value="<%= subcourse.sub.title %>">
                            </div>
                            <div class="form-group">
                                <div>비디오 분류</div>
                                <label>
                                    <input type="radio" id="video_option" name="video_option" value="youtube" onchange="handleChange(event)" <% if(youtubeCheck) { %> checked <% }%> >
                                    Youtube
                                </label>
                                <label>
                                    <input type="radio" id="video_option" name="video_option" value="vimeo" onchange="handleChange(event)" <% if(!youtubeCheck) { %> checked <% }%> >
                                    Vimeo
                                </label>
                            </div>
                            <div class="hidden-area"  style="display: none;">
                                <input id="subid" name="subid" type="text" value="<%= subcourse.sub.id %>"/>
                                <input id="maincategory" name="maincategory" type="text" value="<%= subcourse.sub.maincategory %>"/>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-switch ps-0">
                                    <input class="form-check-input ms-0" type="checkbox" role="switch" id="sampling_value" value="false" name="sampling_value" onchange="checkSampling()"  <% if(subcourse.sub.sampling) { %> checked <% }%> >
                                    <label class="form-check-label ps-5" for="sampling_value">맛보기 영상 설정</label>
                                  </div>
                            </div>
                            <div class="form-group">
                                <label>강의 영상 링크</label>
                                <input type="url" id="subcourse_link" class="form-control" name="subcourse_link" placeholder="강의영상 URL을 입력해주세요." onchange="printVideo()" value="<%= subcourse.sub.link %>">
                            </div>
                            <div class="alert alert-danger" role="alert" style="display: none;">
                                강의분류와 영상 링크가 일치하는지 확인해주세요.
                            </div>
                        </div>
                        <div class="col">
                            <div id="player"><i class="fa-solid fa-video-slash"></i></div>

                        </div>
                    </div>
                </div>
              <div class="form-group">                
                <label>내용</label>
                <p class="hidden-data" style="display: none;"><%= subcourse.sub.content %></p>
                <textarea id="summernote"  name="note_content" ></textarea>
              </div>
              <button type="submit" class="submit-btn btn btn-outline-secondary">Submit</button>
            </form>
          </div>
          
          <script src="https://www.youtube.com/iframe_api"></script>
          <script src="https://player.vimeo.com/api/player.js"></script>
          <script src="/assets/js/video.js"></script>
          <script src="/assets/js/summernote.js"></script>
          <script src="/assets/js/subcourse.js"></script>
          <script>
            $( document ).ready(function() {
             
                var data = $('.hidden-data').text();
              $('#summernote').summernote('pasteHTML', data);

              printVideo();

           });
          </script>

           </div>
           <div class="content-backdrop fade"></div>
         </div>
         <!-- Content wrapper -->
       </div>
       <!-- / Layout page -->
     </div>

     <!-- Overlay -->
     <div class="layout-overlay layout-menu-toggle"></div>
   </div>
   <%- include('../footer.ejs') %>
