
   <%- include('../header.ejs') %>
   <!-- Layout wrapper -->
   <div class="layout-wrapper layout-content-navbar">
     <div class="layout-container">
       <!-- Menu -->
       <%- include('../menu.ejs') %>
       <!-- /Menu -->

       <!-- Layout container -->
       <div class="layout-page">
        <!-- Navbar -->
        <%- include('../navbar.ejs') %>
        <!-- /Navbar -->

         <!-- Content wrapper -->
        <div class="content-wrapper">
          <!-- <div class="container">
            <h4>강의코스</h4>
            <div class="container">
            <% for(var i = 0 ; i < courses.length ; i++) { %>
            <div class="card course-<%= i %>" style="width: 18rem;">
              <div class="image-container" style="width: 270px; height: 180px; background-image: url('/public/images/<%= courses[i].thumbnail %>');"></div>
                <h5 class="card-title"><%= courses[i].title %></h5>
                <p class="card-text"><%= courses[i].description %></p>
                <a href="#" class="btn btn-primary">강의 연결 링크</a>
              </div>
              <% } %>
            </div>
            </div>
          </div> -->
          <section class="notice">
            <div class="page-title">
                  <div class="container">
                      <h3>강의 관리</h3>
                  </div>
              </div>
            
            <!-- board list area -->
              <div id="board-list">
                  <div class="container">
                    <div class="notice-act-section">
                    </div>
                      <table class="board-table">
                          <thead>
                          <tr>
                              <th scope="col" class="th-num">강의코드</th>
                              <th scope="col" class="th-title">강의명</th>
                              <th scope="col" class="th-student">총강의 차수</th>
                              <th scope="col" class="th-student">수강생</th>
                              <th scope="col" class="th-date">등록일</th>
                          </tr>
                          </thead>
                          <tbody>
                            <% for(var i = 0; i < courses.length; i++){ %>
                              <tr>
                                  <td>
                                    <%- String(courses[i].id ).padStart(5, '0') %></td>
                                  <th>
                                    <a href="detail/<%= courses[i].id %>"><%= courses[i].title %></a>
                                    <p>테스트</p>
                                  </th>
                                  <td><%= courses[i].term %>강</td>
                                  <td>5명</td>
                                  <td>
                                    <% const date = courses[i].createtime %>
                                    <%= date.toLocaleDateString('ko-KR') %>
                                    <%= date.toLocaleTimeString('ko-KR') %>
                                </td>
                              </tr>
                          <% } %>
                          </tbody>
                      </table>
                      
                  </div>
              </div>
          </section>
         <!-- Content wrapper -->
       </div>
       <!-- / Layout page -->
     </div>

     <!-- Overlay -->
     <div class="layout-overlay layout-menu-toggle"></div>
   </div>
   <%- include('../footer.ejs') %>
